@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root { 
  scroll-behavior: smooth;
  --color-font-black: #1e1e1ede;
  --color-1: #02103D;
  --color-2: #013668;
  --color-3: #00566D;
  --colo-4: #777673de;
  --color-5: #006f8d81;
}
 
html,
body {
  @apply h-screen overflow-x-hidden w-full;
}

@layer base {
  .app-container {
    @apply flex flex-col min-h-screen justify-between w-full;
  }
  main {
    @apply  w-full overflow-y-auto overflow-x-hidden;
  }

  header{
    @apply bg-[var(--color-2)];
  }
} 

.convite-nome {
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  letter-spacing: 0.02em;
}
